In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

![image.png]()

#**Problem Statement**

---

>Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

# Dataframe - BuyerRatio

---

In [ ]:
df=pd.read_csv("/content/BuyerRatio (2).csv")
df.head(5)

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [ ]:
df.shape

(2, 5)

## Chi-Square Test

---


> H0 : The male-female buyer rations are similar across regions

> H1 : The male-female buyer rations are not similar across regions

In [ ]:
stats.chi2_contingency([df["East"], df["West"], df["North"], df["South"]])

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

Here, P-value 0.660309 is greater than 0.05.so we do not reject the null hypothesis at 5% level of significance and may conclude that the male-female ratio are similar across regions.